
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box; 
}
.hero-banner {
    width: 100vw;
    background:linear-gradient(300deg, #010125 45%, #3d375d 75%, #473c56 100%);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text-wrapper, .menu-wrapper, .image-wrapper {
    height: 100vh;
    padding: 2rem;
    width: 42.5%;
}
.text-wrapper .h1 span{
    font-size: clamp(1.5rem, -0.75rem + 6vw, 3rem);
    line-height: normal;
    padding: 0;
    margin: 0;
}
.text-wrapper .h1 {
    line-height: 0.6;
}
.text-wrapper {
    box-sizing: border-box;
    padding-top: 4rem;
}
.menu-wrapper {
    width: 15%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: 0.5s;
    
}
.menu-wrapper a{
    text-decoration: none;
    color:#fca311;
    transition: 0.2s;
    
}
.menu-wrapper a svg {
    aspect-ratio: 1/1;
    height: 15px;
    fill: #b5e2fa;      
    margin: 5px 10px;
    transition: 0.5s; 
    opacity: 0;
}
.menu-wrapper a svg {
    transform: translateX(-150%);
    position: absolute;
}
.menu-wrapper a:hover svg {
    transform: translateX(-250%);
    opacity: 1;
}
.menu-wrapper a:hover {
    color: #e85d04 !important;
    transform: translateX(10%);
}
.menu-wrapper:hover {
    background-color: rgba(240, 255, 255, 0.09);
    box-shadow: 0 0 15px 25px rgba(240, 255, 255, 0.09);

    
}
.menu-wrapper:hover a {
    transform: scale(1.2);
    font-weight: 600;
    color: #ffbf57;
}
p {
    margin: 0;
    padding: 0;
}
.h1 {
    text-transform: uppercase;
    font-size: clamp(3rem, -0.75rem + 12vw, 6rem);
    color: aliceblue;
    font-weight: 700;
    line-height: 1;
}
.h2 {
    text-transform: uppercase;
    color: aliceblue;
    font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
    font-weight: 400;
    line-height: 1;


}
.p {
    color: rgba(255, 255, 255, 0.453);
    font-size: 20px;
    margin-top: 1rem;
    
}
#learnmore-button {
    background-color: rgb(12, 12, 78);
    padding: 1rem 2rem;
    color: aliceblue;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}
 #learnmore-button:hover {
    background-color: rgb(77, 77, 156);
}
.image-wrapper img {
    width:100%;
    height: auto;

}
.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}